---
import { projects } from "../constants";
import { github } from "../constants";

---


<section id="projects" class="works-section">
  <div class="intro-text">
    <p class="section-subtext">My work</p>
    <h2 class="section-headtext">Projects.</h2>
  </div>

  <p class="description">
    Following projects showcase my skills and experience through real-world examples.
    Each project includes a brief description, tags, and links to the live site and source code.
    You can see more projects
    <a href="https://github.com/Jordypx" target="_blank" class="text-blue-500">here</a>
    on my GitHub.
  </p>

  <div class="projects-grid">
    {projects.map((project) => (
      <div class="project-card">
        <div class="project-image">
          
            <img src={typeof project.image === 'string' ? project.image : project.image.src} alt={project.name} class="img" />
        
          <div class="image-overlay">
            <div class="icon" onclick={`window.open('${project.source_code_link}', '_blank')`}>
              <img src={github.src} alt="Source Code" />
            </div>
          </div>
        </div>

        <div class="project-content">
          <h3 class="project-title">{project.name}</h3>
          <p class="project-desc">{project.description}</p>
          <div class="tags">
            {project.tags.map((tag) => (
              <span class={`tag ${tag.color}`}>#{tag.name}</span>
            ))}
          </div>
          <div class="live-link" onclick={`window.open('${project.site_url}', '_blank')`}>
            view
          </div>
        </div>
      </div>
    ))}
  </div>
</section>



<style>
  .works-section {
    padding: 7rem 1rem;
    max-width: 1200px;
    margin: auto;
  }

  .section-subtext {
    color: #999;
    font-size: 1rem;
  }

  .section-headtext {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .description {
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 2rem;
  }

  /* Responsive grid */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }

  /* Project card */
  .project-card {
      background: #151030e5;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
    user-select: none;
  }

  /* Image container */
  .project-image {
    position: relative;
    height: 230px;
     cursor: pointer;
  }

  .project-card img {
  transition: transform 0.3s ease;
}

.project-image:hover img {
  transform: scale(1.05);
}

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    padding: 1rem;
   
  }

  /* Hover overlay */
  .image-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    padding: 0.75rem;
    opacity: 1;
     justify-content: flex-end;
  
  }


  .icon {
    width: 40px;
    height: 40px;
        background: linear-gradient(to right, rgb(67, 67, 67), rgb(0, 0, 0));
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .icon img {
    width: 50%;
    height: 50%;
  }

  /* Text content */
  .project-content {
    padding: 1rem;
  }

  .project-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .project-desc {
    color: #ccc;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    
  }

  .tags {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.8rem;
  }

  .live-link {
    margin-top: 1.5rem;
   color: white;
    font-weight: bold;
     font-size: 0.8rem;
     cursor: pointer;
  }

  .live-link:hover {
     color: #00bfffd9;
  }

   @media (max-width: 680px) {
     .live-link {
    font-size: 1rem;
  }
  } 
</style>
